body {
    font-family: 'Noto Sans', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Montserrat', sans-serif;
}

.fs-fw-500 {
    font-weight: 500;
}

.fs-fw-600 {
    font-weight: 600;
}

.fs-fw-800 {
    font-weight: 800;
}